/*// COLOR PALETTE
$base-color: #313841;

$exec-dark-background: #3e4752;
$exec-font-semibold: 500;


//$toolbar-footer-background-color: #4f555d;

$panel-frame-border-radius: 1px;

$button-default-base-color: #f1495b;
$button-default-background-color: $button-default-base-color;
$button-toolbar-background-color: $button-default-base-color;
$button-default-border-color: $button-default-base-color;

$button-default-base-color-pressed: $button-default-base-color;
$button-default-border-color-pressed: $button-default-base-color;

$button-default-background-gradient: '';
$button-default-background-gradient-over: '';
//$button-small-border-width: 0;
$button-small-border-radius: 0;


// BRIGHT
$exec-bright-background: #eeeeee;
*/